@import url('https://fonts.googleapis.com/css2?family=Open+Sans&family=Roboto:wght@700&display=swap');


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', 'Roboto' ;
}

.container{
    border: 1px solid red;
    display: flex;
    flex-direction: row;  /* propiedad por defecto flex */
    
}

/* Izquierda */
.contactos{
    display: flex;
    flex-direction: column;
    margin: 10px 0;
    border: 1px solid blue;
    
    
}

.user-status{
    display: flex;
    justify-content: space-between;
    margin: 0 15%;
    
}

.user-data{
    display: flex;
    align-items: center;
}

.user-data p{
    margin: 0 0 0 15px;
}

.user-data img{
    margin: 10px 0;
    width: 50px;
    border-radius: 50px;
}

.navigation{
    display: flex;
    align-items: center;
}

.navigation i{
    margin: 0 5px;
}

/* nuevo chat */
.nuevo-chat{
    display: flex;
    justify-content: center;
}

button{
    margin: 50px 50px;
    padding: 10px 60px;
}

/* Usuarios */
.user{
    display: flex;
    align-items: center;
    width: 330px;
    border: 1px solid #e8ebe4;
    padding-left: 15%;
    
}

.user img{
    margin: 10px 0;
    width: 60px;
    border-radius: 50px;
  
}

.user p{
    margin: 0 0 0 10px;
}




/* Derecha */
.chat{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin: 10px 0;
    border: 1px solid green;
    text-align: center;
    background-color: #f6f6f6;
}

.chat img{
    width: 300px;
}
